<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
</head>
<body>
    <div class="container mt-4">
       <div class="row">
           <div class="col-md-6">
               <img th:src="${product.imgUrl}" class="img-fluid">
           </div>
           <div class="colmd-6">
               <h2 th:text="${product.productName}">Tên sản phẩm</h2>
               <p><strong>Thương hiệu:</strong> <span th:text="${product.brand}">Thương hiệu</span></p>
               <p><strong>Giá:</strong> <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 2, 'POINT')} + ' VNĐ'">Giá</span></p>
               <p><strong>Số lượng còn:</strong> <span th:text="${product.quantity}">10</span></p>
               <p><strong>Mô tả:</strong> <span th:text="${product.description}">Mô tả chi tiết</span></p>
               <p><strong>Trạng thái:</strong> <span th:text="${product.status}">Active</span></p>
               <p><strong>Ngày tạo:</strong> <span th:text="${#temporals.format(product.createdDate, 'dd/MM/yyyy HH:mm')}">Ngày tạo</span></p>
               <a href="/products" class="btn btn-secondary mt-3">Quay lại</a>
           </div>
       </div>
    </div>
</body>
</html>